<template>
  <div class="MainContainer maps">
    <div class="mapContainer">
      <h1>The Las Vegas Strip</h1>
      <div id="map1" class="center">
        <img src="~/static/maps/strip.png" alt="">
      </div>
      <h1>Fremont Street</h1>
      <div id="map2" class="center">
        <img src="~/static/maps/lvddowntownmap.gif" alt="">
      </div>
    </div>

    <div class="double-wide flex  row">
      <div class="first-container">
        <h3>Party Time</h3>
        <p>"Vegas is everything that’s right with America. You can do whatever you want, 24 hours a day. They’ve effectively legalized everything there". -Drew Carey </p>
        <h3>Pro Tip:</h3>
        <p>Stay hydrated in Vegas. It's usually quite hot and drinking lots of water will keep you hydrated and flush out all of the booze from the night before. Proper intake is 6-8 large glasses a day. </p>
      </div>
      <div class="second-container">
        <h3>Get your steps in!</h3>
        <p>Walking the Las Vegas Strip is one of my favorite city strolls. You need to be a distance walker if you plan to leave the hotel - it's a long walk between casinos and attractions. Even within one big casino hotel, you can log 10,000 steps from your room to the restaurants and casino throughout the day without ever going outside. </p>
        <h3>Walking the Strip</h3>
        <p>If your feeling crazy and want to try walking the length of the strip be prepared. although it never appears to be that far away, Vegas casinos are huge and the walk is always longer then it looks. Its approx. 4.2 miles from one end of the strip to the other. It takes approx. 75 minutes to walk from one end to the other.  </p>
      </div>
    </div>
  </div>
</template>
