#map1,
#map2{
  width: 70vw;
  margin: 10px 20px 20px 10px;
  position: relative;
  z-index: 0;
}

.mapContainer{
  margin-top: 20px;
}
.mapContainer{
  img{
    max-height: 600px;
  }
}

.maps .first-container{
  width: 25%;
  min-width: 200px;
}

.maps .second-container{
  width: 65%;
  text-align: left;
  justify-content: flex-start;
}

.double-wide{
  width: 100%;
}
