<template>
  <div class="MainContainer happyhour">
    <div class="TitleImg center">
      <img src="../../../Images/las-vegas-deal-finder-happy-hour.png" alt="">
    </div>
    <h1>Best Happy Hour Deals on the Strip  </h1>
    <div class="flex hottip">
      <img style="width: 150px; heightL 150px;" class="" src="../../../Images/pokerchip2.png" alt="">
      <p>Our Top Pick for Vegas Happy Hours is at the Interlude Lounge in the <a href="#/hotels/TheCromwell">Cromwell Casino</a>, located in the middle of the Vegas Strip.  $2 Vodka cocktails and Beer specials available from 9am til 8pm every weekday.   Interlude, <a href="#/hotels/TheCromwell">The Cromwell’s</a> casino lounge, is the perfect spot to meet up with friends for a drink and enjoy free live entertainment on Tuesdays and Wednesdays.  Located in the heart of the gaming floor, Interlude is surrounded by all the action, making it the perfect spot to connect with friends and socialize. Booth and table seating offer intimate spaces to gather. A long wrap around bar provides many options for the video poker player. Get all the information about <a href="#/hotels/TheCromwell">The Cromwell</a> in our hotel section.   </p>
    </div>
    <div class="flex hottip">
      <img class="" src="../../../Images/birdBar.jpg" alt="">
      <p>Another VDF top Happy hour pick is the Bird Bar from 5 – 6 p.m. with 50-cent beers and additional specials from 6 – 7 p.m. Live entertainment and gaming surround the bar and an outdoor patio perfect for hanging out with the rest of your crew. Play beer pong and check out reverse happy hour from 2 a.m. – 10 a.m. featuring $5.00 specialty cocktails.  The 50-cent Beers is a VDF favorite for cheap drinks !!!!  Conveniently located right along the Vegas strip at the Flamingo Hotel and Casino. </p>
    </div>
  </div>
  <h2><a style="color: green;" href="#freemonthappyhour">Click Here for Best Happy Hour Deals Near Fremont Street </a></h2>
  <div class="single-wide">
    <h2>Happy Hour Deals </h2>
    <p>This is the ultimate guide to finding the best Las Vegas Happy Hour deals on the strip. Seriously, we’ve sliced and diced every single bar and restaurant on the strip to find you the best hotel deals and best days of the week for cheap drinks and food. </p>
    <p>Use the guide below to help you plan out your Las Vegas trip and make it a memorable one with over 75 different options for deals and specials.  Visitors to Las Vegas know that there are plenty of overpriced drink and food options on every corner of every hotel. Save money by taking advantage of Las Vegas happy hour deals and find new places to explore at the same time.  No matter what day of the week you find yourself on the strip, there is a Las Vegas happy hour deal to take advantage of, but these deals change frequently, so it is always best to check with the property before making a special trip. </p>
    <h2>Best Las Vegas STRIP Happy Hour Deals by Casino </h2>
    <h4><a style="color: green" href="#/Aria">Aria</a>  Happy Hour Deals </h4>

    <h5>Bardot Brasserie </h5>
    <div class="divimg">
      <img class="img" src="https://i1.wp.com/stadiumhelp.com/wp-content/uploads/2019/02/bardot-brasserie.jpg?zoom=0.8099999785423279&resize=600%2C397&ssl=1" alt="">
    </div>
    <p>For those who like to get the weekend started early, the Bardot Brasserie in the Aria has a powerful Las Vegas Happy Hour lunch deal. For $25, you get unlimited Rose wine with your lunch until 1:30pm. You may need an afternoon nap though!  Bardot offers Happy hour everyday from 5:30-7pm. </p>
    <ul>
      <li>$5 Beer </li>
      <li>$7 Cocktails </li>
      <li>$8 Wine </li>
      <li>$3 Oysters </li>
      <li>$8 Tartines </li>
    </ul>
    <hr/>

    <h4><a style="color: green" href="#/Bellagio ">Bellagio </a> Happy Hour Deals </h4>
    <h5>Harvest by Roy Ellamar  </h5>
    <div class="divimg">
      <img class="img" src="https://i2.wp.com/stadiumhelp.com/wp-content/uploads/2019/02/harvest.jpg?resize=600%2C400&ssl=1" alt="">
    </div>
    <p>Sunday to Thursday 5-6pm and 9-10pm </p>
    <ul>
      <li>$7 signature cocktails  </li>
      <li>$7 wine  </li>
      <li>$7 snack wagon selections </li>
    </ul>
    <hr/>

    <h4><a style="color: green" href="#/ ">Caesar’s Palace  </a> Happy Hour Deals </h4>
    <h5>Rao’s</h5>
    <p>Sunday to Thursday from 5-6:30pm at the bar only  </p>
    <ul>
      <li>$4-5 beer</li>
      <li>$8-9 wine </li>
      <li>$8-15 food </li>
    </ul>
    <h5>Searsucker</h5>
    <div class="divimg">
      <img class="img" src="https://i1.wp.com/stadiumhelp.com/wp-content/uploads/2019/02/searsucker.jpg?resize=600%2C306&ssl=1" alt="">
    </div>
    <p> Everyday from 5-7pm  </p>
    <ul>
      <li>$9 cocktails </li>
      <li>$5 Stella Artois & house beer </li>
      <li>$6 house wine  </li>
      <li>$2-4 bar bites </li>
    </ul>
    <h5>Spago </h5>
    <p>Everyday from 3-6pm </p>
    <ul>
      <li>$4 Liberty Ale </li>
      <li>$5-6 wine  </li>
      <li>$6-8 cocktails  </li>
      <li>$7-11 appetizers </li>
    </ul>
    <h5>Sushi Roku </h5>
    <div class="divimg">
      <img class="img" src="https://i2.wp.com/stadiumhelp.com/wp-content/uploads/2019/02/sushi-roku.jpg?resize=610%2C406&ssl=1" alt="">
    </div>
    <p>During the week from 4-7pm, Sushi Roku has a ton of great Las Vegas happy hour specials to take advantage of. You can save big on beer and wine, plus sushi and appetizers. They also have a few $4 desserts on the menu if you want to treat yourself before or during dinner.  Sunday to Thursday from 4-7pm and Friday and Saturday from 4-6pm  </p>
    <ul>
      <li>$5 beer</li>
      <li>$6 wine</li>
      <li>$4-10 appetizers </li>
      <li>$6-7 sushi  </li>
      <li>$4 desserts </li>
    </ul>
    <h5>Trevi </h5>
    <div class="divimg">
      <img class="img" src="https://i2.wp.com/stadiumhelp.com/wp-content/uploads/2019/02/trevi-caesars.jpg?zoom=0.8099999785423279&resize=600%2C400&ssl=1" alt="">
    </div>
    <p>Everyday from 2-6pm and 9pm to close </p>
    <ul>
      <li>50% off mixed drinks </li>
      <li>50% off beer </li>
      <li>50% off wine </li>
      <li>$6 appetizers </li>
    </ul>
    <h5>Vista Cocktail Lounge  </h5>
    <p>Sunday to Thursday from 5-7pm </p>
    <ul>
      <li>$6 Heineken  </li>
      <li>$8 Sangria and select wines </li>
      <li>$16 old fashioned  </li>
    </ul>
    <hr/>
    <h4><a style="color: green" href="#/ ">The Cosmopolitan </a> Happy Hour Deals </h4>
    <h5>Estiatoro Milo’s </h5>
    <p> Everyday from 5-6:30pm  </p>
    <ul>
      <li>$6 lager beer </li>
      <li>$10 small bites  </li>
      <li>$12-13 Greek wines by the glass  </li>
    </ul>
    <h5>Holsteins Shakes and Buns  </h5>
    <div class="divimg">
      <img class="img" src="https://i2.wp.com/stadiumhelp.com/wp-content/uploads/2019/02/holsteins-shakes-and-buns.jpg?resize=600%2C400&ssl=1" alt="">
    </div>
    <p> Sunday to Thursday from 3:30-5:30pm  </p>
    <ul>
      <li>$6 Beer </li>
      <li>$8 Vitamin Water cocktails </li>
      <li>$10 bar food </li>
    </ul>
    <h5>Jaleo </h5>
    <p> Sunday to Thursday from 4-7pm   </p>
    <ul>
      <li>$4 select beer  </li>
      <li>$6 select El Vermut  </li>
      <li>$4-6 tapas  </li>
    </ul>
    <h5>Rose. Rabbit. Lie. </h5>
    <div class="divimg">
      <img class="img" src="https://i2.wp.com/stadiumhelp.com/wp-content/uploads/2019/02/rose-rabbit-lie.jpg?resize=600%2C400&ssl=1" alt="">
    </div>
    <p>  Wednesday and Thursday from 6-7pm  </p>
    <ul>
      <li>$8 cocktail specials </li>
      <li>$10 house wines </li>
      <li>$2-10 food specials </li>
    </ul>
    <h5>Scarpetta  </h5>
    <p> Monday to Thursday from 5:30-7pm</p>
    <ul>
      <li>$7 select beer   </li>
      <li>$7 select wine  </li>
      <li>$7 select cocktails   </li>
      <li>$7 small bites</li>
    </ul>
    <h5>Wicked Spoon  </h5>
    <div class="divimg">
      <img class="img" src="https://i2.wp.com/stadiumhelp.com/wp-content/uploads/2019/02/wicked-spoon.jpg?zoom=0.8099999785423279&resize=600%2C400&ssl=1" alt="">
    </div>
    <p>The Wicked Spoon is one of our favorite weekday happy hours for drinks. In the afternoon, you can get $5 beer, wine, and wells. This is the perfect modern contemporary spot to make an afternoon out of and enjoy your Las Vegas strip time.Everyday from 3-5pm  </p>
    <ul>
      <li>$5 cocktails  </li>
      <li>$5 wells  </li>
      <li>$5 beer  </li>
    </ul>
    <hr/>
    <div class="flex spaceBetween">
      <h4><a style="color: green" href="#/TheCromwell/ ">The Cromwell </a> Happy Hour Deals </h4>
      <img style="width: 150px; heightL 150px;" class="" src="../../../Images/pokerchip2.png" alt="">
    </div>

    <h5>INTERLUDE </h5>
    <div class="divimg">
      <img class="img" src="https://vegasdealfinder.com/resources/Pictures/InterludeCromwell_nightlife.jpg" alt="">
    </div>
    <p>Interlude, The Cromwell’s casino lounge, is the perfect spot to meet up with friends for a drink and enjoy free live entertainment on Tuesdays and Wednesdays.  Located in the heart of the gaming floor, Interlude is surrounded by all the action, making it the perfect spot to connect with friends and socialize. Booth and table seating offer intimate spaces to gather. Happy Hour Featuring $2 vodka cocktails.  Meet up at Interlude Monday - Friday for happy hour from 9 AM to 8 PM. Enjoy vodka cocktails and beer specials for only $2 each!  Enjoy free live music on Tuesday and Wednesday evenings. The upbeat entertainment provides the perfect backdrop for hanging out with new and old friends and is just the right volume so you can still enjoy conversations with your cocktails. </p>
    <hr/>

    <h4>Flamingo Happy Hour Deals</h4>
    <div class="flex spaceBetween">
      <h5>BIRD BAR </h5>
      <img style="width: 150px; heightL 150px;" class="" src="../../../Images/birdBar1.jpg" alt="">
      <img style="width: 150px; heightL 150px;" class="" src="../../../Images/BestValueChip.png" alt="">
    </div>
    <p>.50 Cent Beers from 5pm-6pm Daily</p>
    <p>Another VDF top Happy hour pick is the Bird Bar from 5 – 6 p.m. with 50-cent beers and additional specials from 6 – 7 p.m. Live entertainment and gaming surround the bar and an outdoor patio perfect for hanging out with the rest of your crew. Play beer pong and check out reverse happy hour from 2 a.m. – 10 a.m. featuring $5.00 specialty cocktails.  The 50-cent Beers is a VDF favorite for cheap drinks !!!!  Conveniently located right along the Vegas strip at the Flamingo Hotel and Casino.</p>

    <h5>Carlos’n Charlie’s</h5>
    <div class="divimg">
      <img class="img" src="https://i1.wp.com/stadiumhelp.com/wp-content/uploads/2019/02/carlosn-charlies.jpg?resize=600%2C400&ssl=1" alt="">
    </div>
    <p> Everyday from 2-6pm </p>
    <ul>
      <li>2 for 1 frozen house margaritas </li>
      <li>2 for 1 Coors Light draft beer </li>
    </ul>
    <hr/>

    <h4><a style="color: green" href="#/TheLINQHotel+Experience ">The Linq </a> Happy Hour Deals </h4>
    <p>The LINQ is home to a bunch of great Las Vegas Happy Hour deals. The High Roller ferris wheel is right next door and is one of the top rated Vegas attractions. We have an exclusive deal for followers where you can get $10 off your High Roller ride. </p>

    <h5>Brooklyn Bowl </h5>
    <p>Monday to Friday from 5-7pm and 11pm-2am </p>
    <ul>
      <li>50% off all cocktails  </li>
      <li>50% off all appetizers  </li>
    </ul>

    <h5>Chayo Mexican Kitchen and Tequila Bar </h5>
    <div class="divimg">
      <img class="img" src="https://i1.wp.com/stadiumhelp.com/wp-content/uploads/2019/02/chayo-mexican.jpg?resize=600%2C338&ssl=1" alt="">
    </div>
    <p> Chayo is a solid Mexican spot in the LINQ to check out. Every day of the week (weekends too) they have $21 bottomless mimosas for 2 hours from 10am until 4pm. If it’s quiet during this time, you can do a lot of drinking! As well, in the afternoon during the week Chayo has $2 Dos Equis beer, $5 margaritas, and $5 food options to check out. Monday to Thursday 2-6pm  </p>
    <ul>
      <li>$2 Dos Equis  </li>
      <li>$5 Margartas  </li>
      <li>$6 Asada fries  </li>
      <li>$5 wings, nachos, and street tacos </li>
    </ul>

    <h5>Flour & Barley </h5>
    <p>Monday to Friday from 2-6pm and Sunday to Thursday from 10pm to close</p>
    <li>$6-8 appetizers </li>
    <li>$5 draft beer </li>
    <li>$6 wells </li>
    <li>$5 fireball shots </li>
    <li>$10 pizza </li>

    <h5>Guy Fieri’s </h5>
    <p>Sunday to Thursday 10pm to 12am </p>
    <li>$4 Miller Lite beer </li>
    <li>$5 Fireball shots </li>
    <li>$6 wells </li>

    <h5>Jaburritos </h5>
    <div class="divimg">
      <img class="img" src="https://i1.wp.com/stadiumhelp.com/wp-content/uploads/2019/02/jaburritos.jpg?resize=588%2C469&ssl=1" alt="">
    </div>
    <p> Everyday from 3-6pm</p>
    <ul>
      <li>$1 edamae, seaweed salad, miso soup, taco chips & queso, and tortilla chips & queso </li>
      <li>$3 Asahi, Modelo, and Sake bombs</li>
      <li>$3.50 Sake Sangria and hot Sake </li>
      <li>$5 California roll & spicy tuna roll </li>
    </ul>

    <h5>Tilted Kilt </h5>
    <p>Everyday from 3-6pm </p>
    <ul>
      <li>$8-9 flatbread pizzas </li>
      <li>$5-7 appetizers </li>
      <li>Daily specials </li>
    </ul>

    <h5>Yard House </h5>
    <div class="divimg">
      <img class="img" src="https://i1.wp.com/stadiumhelp.com/wp-content/uploads/2019/02/yard-house.jpg?resize=678%2C354&ssl=1" alt="">
    </div>
    <h6>THE YARD HOUSE IN THE LINQ </h6>
    <p>The Yard House has one of the more popular Las Vegas happy hours you’ll here people talk about. From 3-6pm, you get 50% off appetizers and pizzas, which in itself is a good deal. In addition you get a minimum of $2 off every drink and $4 off the half yard beer. It’s well worth it here if you can get a spot! Monday to Friday from 3-6pm </p>
    <ul>
      <li>50% off appetizers </li>
      <li>50% off pizzas</li>
      <li>$2 off beer, wine, spirits, and cocktails </li>
      <li>$3 off 9oz wine </li>
      <li>$4 off half yards </li>
    </ul>
    <hr/>

    <h4><a style="color: green" href="#/Luxor ">The Luxor </a> Happy Hour Deals </h4>
    <p>Luxor is one of the most iconic hotels on the strip. It is also home to the Blue Man Group show and you can save up to $43 per ticket by <a href="http://www.kqzyfj.com/click-8957661-13336363">clicking here.</a> </p>
    <h5>Flight Bar </h5>
    <div class="divimg">
      <img class="img" src="https://i2.wp.com/stadiumhelp.com/wp-content/uploads/2019/02/flight.jpg?resize=480%2C320&ssl=1" alt="">
    </div>
    <p> Sunday to Thursday from 4-6pm </p>
    <ul>
      <li>$25% off all drinks </li>
    </ul>
    <h5>Tender Steak & Seafood </h5>
    <p>Everyday from 5pm-12am </p>
    <ul>
      <li>3 for $19 or 5 for $25 cheese and wine pairings </li>
    </ul>
    <hr/>

    <h4><a style="color: green" href="#/MandalayBay  ">Mandalay Bay</a> Happy Hour Deals </h4>
    <p>The Mandalay Bay has some great Las Vegas happy hour deals. After you fill up on some food and drinks, <a href="http://www.tkqlhce.com/click-8957661-13437686">you are right beside the Cirque Du Soleil Michael Jackson show next door.</a> </p>
    <h5>Aureole </h5>
    <div class="divimg">
      <img class="img" src="https://i0.wp.com/stadiumhelp.com/wp-content/uploads/2019/02/aureole.jpg?resize=600%2C338&ssl=1" alt="">
    </div>
    <p> Everyday from 5-7pm </p>
    <ul>
      <li>50% off entire bar and lounge menu </li>
    </ul>

    <h5>Border Grill </h5>
    <p>Tuesday to Friday from 3-6pm </p>
    <ul>
      <li>$4 draft beer </li>
      <li>$5 Margarita or Sangrias  </li>
      <li>$3 tacos </li>
      <li>$5 quesadillas </li>
    </ul>

    <h5>Burger Bar </h5>
    <p>Sunday to Thursday from 3-6pm and 9-11pm </p>
    <ul>
      <li>$4 select beer </li>
      <li>$6 milkshakes</li>
      <li>$6.95 eats </li>
      <li>$5.95 mozza sticks </li>
    </ul>

    <h5>Foundation Room </h5>
    <div class="divimg">
      <img class="img" src="https://i0.wp.com/stadiumhelp.com/wp-content/uploads/2019/02/foundation-room.jpg?resize=600%2C367&ssl=1" alt="">
    </div>
    <p>Sunday to Thursday from 5-8pm </p>
    <ul>
      <li>Select appetizers on sale </li>
    </ul>

    <h5>Hussong’s Mexican Cantina </h5>
    <p>Everyday from 3-6pm </p>
    <ul>
      <li>$3-5 food </li>
      <li>$3 draft beer </li>
      <li>$4 well drinks </li>
      <li>$3 Sauza blue shot </li>
      <li>$6 Margaritas </li>
      <li>$18 beer buckets</li>
      <li>$15 bottomless Mimosa and Sangria </li>
    </ul>

    <h5>Press Lounge </h5>
    <p>Everyday from 9pm-1am</p>
    <ul>
      <li>50% off Stella Artois</li>
      <li>$8 house wine </li>
      <li>50% off flatbreads </li>
    </ul>

    <h5>Ri Ra’ Irish Pub </h5>
    <p>Monday to Friday from 3-6pm</p>
    <ul>
      <li>$4 Carlsberg and Heineken beer </li>
      <li>$3 domestic bottle</li>
      <li>$5 house wine </li>
      <li>50% off appetizers at the bar </li>
    </ul>

    <h5>RM Seafood </h5>
    <p>Everyday from 3-5pm </p>
    <ul>
      <li>$7 select wine </li>
      <li>Specials on craft beer draught </li>
    </ul>

    <h5>RX Boiler Room </h5>
    <p>Everyday from 5-7pm </p>
    <ul>
      <li>$6 beer </li>
      <li>$8 cocktails </li>
      <li>$2 oysters </li>
      <li>$6 chicken nuggets </li>
      <li>$8 buffalo fried oysters </li>
    </ul>

    <h5>Stripsteak </h5>
    <p>Everyday from 4-5:30pm </p>
    <ul>
      <li>$6 cocktails </li>
      <li>$9 wells </li>
      <li>$4 select beers </li>
    </ul>
    <hr/>

    <h4><a style="color: green" href="#/MGMGrand">MGM Grand</a> Happy Hour Deals </h4>
    <p>The MGM Grand is one of the strip’s most iconic hotels. In addition to the happy hour deals below, it is home to the world famous David Copperfield show. </p>
    <h5>Emeril’s New Orleans Fish House </h5>
    <p>Everyday from 2-6pm and 9:30-10pm </p>
    <ul>
      <li>$5 beer </li>
      <li>$7 house wine </li>
      <li>$7 well cocktails </li>
      <li>$8 specialty cocktails </li>
      <li>$8-$12 hot plates </li>
      <li>$10-25 chilled seafood plates </li>
    </ul>

    <h5>Hecho en Vegas </h5>
    <p>Tuesday to Thursday from 5-7pm </p>
    <ul>
      <li>$18 all you can eat street tacos </li>
      <li>$18 all you can drink margaritas</li>
    </ul>

    <h5>Square Restaurant & Lounge </h5>
    <p>Everyday from 4-6pm </p>
    <ul>
      <li>$5 domestic beer </li>
      <li>$7 wine </li>
      <li>$11 signature cocktails </li>
      <li>Select appetizer specials </li>
    </ul>
    <hr/>

    <h4><a style="color: green" href="#/TheMirage">The Mirage</a> Happy Hour Deals </h4>
    <h5>Rhumbar </h5>
    <div class="divimg">
      <img class="img" src="https://i2.wp.com/stadiumhelp.com/wp-content/uploads/2019/02/rhumbar.jpg?resize=600%2C400&ssl=1" alt="">
    </div>
    <p>Everyday from 2-6pm</p>
    <ul>
      <li>$5 select drinks inside only </li>
      <li>$25 buckets of Coors Light inside only </li>
      <li>$8 house cigars </li>
    </ul>

    <h5>The Still </h5>
    <p>Saturday 10pm-12am </p>
    <ul>
      <li>50% off draft beer </li>
    </ul>
    <hr/>

    <h4><a style="color: green" href="#/NewYork-NewYork">New York - New York</a> Happy Hour Deals </h4>
    <h5>America </h5>
    <p>Monday to Friday from 2-5pm </p>
    <ul>
      <li>$4 house cocktails </li>
      <li>$4 Bud Light & Budweiser draft beer </li>
    </ul>

    <h5>Bar at Times Square</h5>
    <p>Everyday from 4-8pm ul</p>
    <ul>
      <li>$25 Bud & Bud Light buckets </li>
      <li>$6 Ciroc cocktails </li>
      <li>$6 Don Julio Margaritas </li>
      <li>$5 Bulleit Bourbon shooters </li>
    </ul>

    <h5>Beerhaus at The Park </h5>
    <p>Monday to Friday from 2-4pm </p>
    <ul>
      <li>$4 select draft beer </li>
      <li>$5 appys </li>
    </ul>

    <h5>Coyote Ugly</h5>
    <p>Not only does Coyote Ugly have $5 beer and well drinks (select styles) every day of the week, they have deals from primetime 6-9pm at night. This makes for a packed house but a good deal on the strip for drinks on the weekend. </p>
    <p>Everyday from 6-9pm </p>
    <ul>
      <li>$5 well drinks </li>
      <li>$5 select beer </li>
    </ul>

    <h5>Gonzalez y Gonzalez </h5>
    <p>Monday to Thursday from 3-6pm </p>
    <ul>
      <li>$5.95 Budweiser beer </li>
      <li>$5.95 house cocktails </li>
      <li>$6.95 Margaritas </li>
      <li>$5.95 appetizers </li>
    </ul>

    <h5>Nine Fine Irishmen </h5>
    <div class="divimg">
      <img class="img" src="https://i1.wp.com/stadiumhelp.com/wp-content/uploads/2019/02/nine-fine-irishmen.png?zoom=0.8099999785423279&resize=867%2C481&ssl=1" alt="">
    </div>
    <p>Nine Fine Irishmen has a happy hour that includes $5 drinks and $6 appetizers. You can spend a good chunk of time wasting your afternoon here and the scenery in New York New York adds to the Las Vegas happy hour experience. Monday to Friday from 2-5pm </p>
    <ul>
      <li>$5 beer pints </li>
      <li>$5 featured cocktails </li>
      <li>$5 featured cocktails </li>
    </ul>

    <h5>Sake Rok </h5>
    <p>Sunday from 6-11pm </p>
    <ul>
      <li>50% off sake</li>
      <li>50% off sake bombs </li>
    </ul>

    <h5>Tom’s Urban </h5>
    <p>Monday to Friday from 2-5pm, Sunday to Thursday from 11pm to close </p>
    <ul>
      <li>50% off all drinks </li>
    </ul>
    <hr/>

    <h4><a style="color: green" href="#/Paris">Paris</a> Happy Hour Deals </h4>
    <h5>Le Burger Brasserie </h5>
    <p>Monday to Friday from 4-6pm </p>
    <ul>
      <li>2 for 1 select drinks </li>
    </ul>

    <h5>Le Central Bar </h5>
    <p>Sunday to Thursday from 7-9pm </p>
    <ul>
      <li>Specialty cocktails on sale </li>
    </ul>
    <hr/>

    <h4><a style="color: green" href="#/PlanetHollywood">Planet Hollywood</a> Happy Hour Deals </h4>
    <h5>Blondie’s Sports Bar & Grill </h5>
    <p>Monday to Friday from 3-6pm, 10pm-1am </p>
    <li>$20 all you can drink weels & domestics </li>

    <h5>Cabo Wabo </h5>
    <div class="divimg">
      <img class="img" src="https://i0.wp.com/stadiumhelp.com/wp-content/uploads/2019/02/cabo-wabo-vegas.jpg?resize=550%2C367&ssl=1" alt="">
    </div>
    <p>Monday to Friday from 3-5pm </p>
    <ul>
      <li>$5 drink and shot specials </li>
      <li>$3 tacos</li>
    </ul>

    <h5>Ketchup Burger Bar </h5>
    <p>Monday to Friday from 3-6pm </p>
    <ul>
      <li>2 for 1 draft beer </li>
      <li>2 for 1 well drinks </li>
    </ul>

    <h5>Koi Restaurant & Lounge</h5>
    <p>Everyday rom 5-7pm </p>
    <ul>
      <li>50% off select drinks </li>
      <li>50% off select appetizers </li>
    </ul>

    <h5>Lombardi’s Romagna Mia </h5>
    <p>Everyday from 11am-3pm </p>
    <ul>
      <li>$15 bottomless mimosas </li>
      <li>$15 bottomless bellinis</li>
    </ul>


    <h5>Nacho Daddy </h5>
    <div class="divimg">
      <img class="img" src="https://i0.wp.com/stadiumhelp.com/wp-content/uploads/2019/02/nacho-daddy.jpg?resize=600%2C400&ssl=1" alt="">
    </div>
    <p>Monday to Friday from 3-6pm</p>
    <ul>
      <li>$5 food specials </li>
      <li>$5 house margarita </li>
      <li>$5 wells </li>
      <li>$5 Mexican draft beer </li>
      <li>$5 house wines</li>
    </ul>

    <h5>PBR Rock Bar & Grill </h5>
    <p>Sunday to Thursday from 2-6pm</p>
    <ul>
      <li>50% off draft beer </li>
      <li>2 for 1 cocktails </li>
      <li>$5-7 small plates </li>
    </ul>

    <h5>PF Changs </h5>
    <p>Monday to Friday from 3-6pm </p>
    <ul>
      <li>Drinks discounted by $6-8 </li>
      <li>Food discounted by $7-8  </li>
    </ul>

    <h5>Twin Peaks </h5>
    <p>Monday to Thursday from 3-6pm </p>
    <ul>
      <li>$5 wells </li>
      <li>$4 10oz draft beer </li>
      <li>$6 22oz draft beer </li>
      <li>50% off appetizers, excludes wings, nachos and the sampler </li>
    </ul>

    <h5>Yolos Mexican Grill </h5>
    <p>Monday to Thursday from 3-6pm</p>
    <ul>
      <li>$6 drink specials </li>
      <li>$6 bites </li>
    </ul>
    <hr/>

    <h4><a style="color: green" href="#/Sahara">Sahara</a> Happy Hour Deals </h4>
    <h5>Katsuya </h5>
    <p>Katsuya is a nice Asian fusion restaurant in the SLS which has daily happy hour. The time is a little limited (5-6:30pm) but a huge part of the menu is on sale: beer, wells, wine, sushi, small plates, and more. </p>
    <p>Everyday from 5-6:30pm </p>
    <ul>
      <li>$7 sake </li>
      <li>$8 wells </li>
      <li>$8 house wine </li>
      <li>$6 select beer</li>
      <li>$6 specialty cocktails </li>
      <li>$5-12 food and sushi picks </li>
    </ul>

    <h4><a style="color: green" href="#/TheStrat">The Strat</a> Happy Hour Deals</h4>
    <h5>107 SkyLounge </h5>
    <div class="divimg">
      <img class="img" src="https://i0.wp.com/stadiumhelp.com/wp-content/uploads/2019/02/107-sky-lounge.jpg?resize=550%2C413&ssl=1" alt="">
    </div>
    <p>Everyday from 4-7pm </p>
    <ul>
      <li>2 for 1 cocktails </li>
      <li>1/2 price appetizers </li>
    </ul>

    <h5>Air Bar at the Stratosphere </h5>
    <p>Everyday from 7-10pm </p>
    <ul>
      <li>$3 off thrill ride specialty drinks </li>
      <li>$5 Jager Bombs </li>
      <li>$8 16-oz frozen cocktails</li>
    </ul>

    <h5>McCall’s Heatland Grill </h5>
    <p>Everyday from 4-6pm </p>
    <ul>
      <li>$4 beer </li>
      <li>$6-9 appetizers </li>
      <li>2 for 1 martinis</li>
    </ul>
    <hr/>

    <h4><a style="color: green"  href="#/TreasureIsland">Treasure Island </a>Happy Hour Deals </h4>
    <h5>Gilley’s Saloon  </h5>
    <div class="divimg">
      <img class="img" src="https://i2.wp.com/stadiumhelp.com/wp-content/uploads/2019/02/gillys-saloon.jpg?resize=550%2C363&ssl=1" alt="">
    </div>
    <p> Before 10pm </p>
    <ul>
      <li>$6 select draft beer </li>
      <li>$6 shots </li>
      <li>$8 select wells </li>
      <li>$9 Moscow Mules</li>
      <li>$25 beer buckets </li>
    </ul>

    <h5>Maggiano’s (in the Fashion Show Mall) </h5>
    <p>Monday to Friday from 3-6pm </p>
    <ul>
      <li>$3 raft beer </li>
      <li>$4 flatbreads </li>
      <li>$5 select wine </li>
      <li>$6 specialty cocktails </li>
    </ul>

    <h5>Seafood Shack </h5>
    <p>Everyday from 1-6pm and 10pm-2am </p>
    <ul>
      <li>$4 draught beer </li>
      <li>$5 house wine </li>
      <li>$5 select cocktails and shots </li>
      <li>$6 margaritas and mojitos </li>
      <li>$20 Bud Light buckets </li>
    </ul>
    <hr/>

    <h4><a style="color: green" href="#/Tropicana">Tropicana </a>Happy Hour Deals </h4>
    <h5>Tropicana Lounge </h5>
    <p>Everyday from 3-6pm</p>
    <ul>
      <li>25% off all drinks up to $10 </li>
    </ul>
    <hr/>

    <h4><a style="color: green" href="#/TheVenetian">The Venetian / Palazzo </a>Happy Hour Deals </h4>
    <p>The Venetian and Palazzo are two of the most upscale places on the Las Vegas Strip. Full of premium food and drink deals, you can get 25% off your stay at the Palazzo + a $50 drink credit at the resort by <a href="http://www.tkqlhce.com/click-8957661-13336483">clicking here.</a> </p>
    <h5>Buddy V’s Ristorante (in The Venetian) </h5>
    <div class="divimg">
      <img class="img" src="https://i1.wp.com/stadiumhelp.com/wp-content/uploads/2019/02/buddy-vs-ristorante.jpg?resize=600%2C400&ssl=1" alt="">
    </div>
    <p>Buddy V’s has $4 beer, $5 cocktails, and $6 small bites every day from 4:30-6:30pm. This is a perfect way to lightly fill up on a Las Vegas happy hour deal before a night on the Vegas strip. The Italian menu is filling which is another nice bonus.  </p>
    <p>Everyday from 4:30-6:30pm </p>
    <ul>
      <li>$4 domestic beer </li>
      <li>$5 select cocktails </li>
      <li>$6 small bites </li>
    </ul>

    <h5>Double Helix Wine & Whiskey Bar </h5>
    <div class="divimg">
      <img class="img" src="https://i1.wp.com/stadiumhelp.com/wp-content/uploads/2019/02/double-helix.jpg?resize=600%2C400&ssl=1" alt="">
    </div>
    <p>Monday to Friday from 11am-2pm</p>
    <ul>
      <li>$5 well drinks </li>
      <li>$4.50 Stella Artois beer </li>
      <li>$4.50 select wine by the glass </li>
    </ul>

    <h5>LAVO </h5>
    <p>Weekends from 10am-4pm brunch </p>
    <ul>
      <li>$30 unlimited mimosas</li>
    </ul>

    <h5>Morels French Steakhouse </h5>
    <p>Everyday from 12-6pm, 9:30pm to close</p>
    <ul>
      <li>Select drink and food deals </li>
    </ul>

    <h5>Rockhouse </h5>
    <p>Monday to Friday from 4-9pm </p>
    <ul>
      <li>$5 Jameson or Patron</li>
      <li>$10 domestic beer pitchers </li>
      <li>$10 vodka and Red Bull pitchets </li>
    </ul>

    <h5>Sushisamba </h5>
    <div class="divimg">
      <img class="img" src="https://i2.wp.com/stadiumhelp.com/wp-content/uploads/2019/02/sushisamba.jpg?resize=550%2C367&ssl=1" alt="">
    </div>
    <ul>
      <li>$6 food specials </li>
      <li>$7 cocktails </li>
      <li>$5-6 beer </li>
      <li>$5-6 beer </li>
    </ul>
    <hr/>

    <h4><a style="color: green" href="#/TheWynn">Wynn / Encore </a>Happy Hour Deals </h4>
    <h5>Andreas (in Encore) </h5>
    <p>Thursday from 6-10:30pm </p>
    <ul>
      <li>$6 entrees, drinks, and sushi for bronze card holders only </li>
    </ul>
    <hr/>

    <h4>Peppermill Restaurant Happy Hour Deals </h4>
    <div class="divimg">
      <img class="img" src="https://i0.wp.com/stadiumhelp.com/wp-content/uploads/2019/02/peppermill.jpg?resize=600%2C400&ssl=1" alt="">
    </div>
    <p>The Peppermill is a restaurant/bar just north of the Wynn on the Strip.  It is a classic old school Vegas lounge and worth a stop in you are in that area of the strip.  A great breakfast choice for a large appetite. </p>
    <p>Everyday from 3-6pm </p>
    <ul>
      <li>$4.50 – 6 specialty drinks</li>
      <li>50% off house wine </li>
      <li>50% off wells </li>
      <li>50% off domestic beer </li>
      <li>$4-10 food picks </li>
    </ul>
  </div>
</template>
