<template>
  <div class="MainContainer">
    <div class="TitleImg center">
      <img src="../../Images/las-vegas-deal-finder-top-12-deals.png" alt="">
    </div>
  </div>
  <div class="single-wide">
    <h2 class="shimmer">At Vegas Deal Finder we're always on the lookout for the latest & greatest deals in Vegas  </h2>
    <p>Welcome! Enjoy the quick and easy access to our Top 12 Deals.. Get your membership cost back by using just one of the top 12 Deals. With so much going on in Vegas its really easy to spend hundreds daily just eating and drinking let alone gambling. Let us show you all of the best Deals in Vegas to help keep your money in your pocket. Our Top 12 Deals Include tips for Hotels, Meals, Drinks, Shows, Gambling, Transportation and more. Our VDF Top 12 is just one simple way to start saving money in Vegas. Here they are:  </p>
  </div>
  <div class="info-split-duo">
    <div class="first-container">
      <h4>#1 - Using online Slot Apps for Free Rooms, Food, Shows and gambling!</h4> Still our #1 deal in Las Vegas! Check out more here...
    </div>
    <div class="second-container">
      <img class="myslots" src="../../Images/vegas_my_vegas_slots.jpg" alt="">
    </div>
  </div>
  <div class="info-split-duo">
    <div class="first-container">
      <h4>#2 - Ellis Island $7.99 TOP SIRLOIN STEAK SPECIAL</h4>
      <p> Available all day, every day. Get their famous steak special for just $7.99! Enjoy a 10 oz., Filet-Cut, Top Sirloin Steak, served with your choice of potato or rice, garlic green beans and home-made soup or salad. This offer is valid with your Passport Players Club coupon and the “Play $5, Get $2” Coupon, both available on the kiosk when you play $5.</p>
    </div>
    <div class="second-container">
      <img class="myslots" src="../../Images/Vegas_Ellis_Island_Steak.jpg" alt="">
    </div>
  </div>
  <div class="info-split-duo">
    <div class="first-container">
      <h4>#3 - Groupon Deal for the Carnival World Buffet at Rio. Its $49 for 2 people w/ Beer & Wine.  </h4>
      <p> All-You-Can-Eat Dinner or Champagne Brunch Buffet with Unlimited Draft Beer or Wine for Two. Thats 2 $34.99 buffets and 2 Unlimited Beer or wine $13 per person. Thats a retail value of $95.98. Save almost 50% and get your drink on!! One Person groupon for $26.99 or 4 person for $95. Check it out here... </p>
    </div>
    <div class="second-container">
      <img class="myslots" src="../../Images/vegas_rio_buffet.jpg" alt="">
    </div>
  </div>
  <div class="info-split-duo">
    <div class="first-container">
      <h4>#4 - Flamingo $.50 beer happy hour  </h4>
      <p> Formally called "Its 5 O'clock Somewhere Bar", now The Bird Bar. Get 12oz Miller Lite drafts for only $.50 from 5-6 pm. Be prepared for the crowds as this is a popular Vegas Deal.  3555 S Las Vegas Blvd, Las Vegas, NV 89109 </p>
    </div>
    <div class="second-container">
      <img class="myslots" src="../../Images/flamingo.jpg" alt="">
    </div>
  </div>
</template>
