<template>
  <div class="HomeContainer">
    <iframe width="100%" height="455" src="https://www.youtube.com/embed/kx7GkZivydM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="info-split-duo">
    <div class="first-container">
      <h2> YOU CAN BEAT VEGAS! </h2>
      <p>
        <text>&emsp;Vegas Deal Finder was created by two Deal Finding Experts with over 60 combined years of winning trips to Las Vegas. With Money Saving Tips on Airfare & Transportation to earning FREE Hotel Rooms, Food & Drink, and Entertainment, VDF gives you a secret advantage to beating Vegas.</text>
      </p>
      <p>
        <text>&emsp;Vegas Deal Finder provides hundreds of money saving tips and tricks with our Top Vegas Deals, Current Vegas Promotions & Specials, and Expert Information on Gambling Techniques, Advanced Strategies, Earning comps, What Games to Play and Way More!.  Let us show you where the party is and what's happening in Vegas.</text>
      </p>
      <p>
        <text>&emsp;WANT YOUR TRIP TO VEGAS TO PAY FOR ITSELF?
              Vegas Deal Finder is your guide to an affordable Sin City vacation. Become a member today and start learning how you too can beat Las Vegas.
              MEMBERSHIP START AT ONLY $7.99
              Members often save over $500 on their Vegas trips and actually win money using our strategies! </text>
      </p>
    </div>
    <div class="second-container .d-md-none">
      <img src="../../Images/vegas1WelcomeToVegasSign.jpg" alt="">
    </div>
  </div>

  <div class="single-wide moneyGreenBg">
    <div class="titleWithImages">
      <img src="../../Images/TopPickChip.png" alt="">
      <h2>How to Beat Vegas and Actually Win Money!</h2>
      <img src="../../Images/BestValueChip.png" alt="">
    </div>
    <p>
      <text>
        You can win money in Vegas, its possible.  You just need to know how and where to make bets with the mathematical advantage over the casino.  I know, this sounds impossible, but we do it every trip to Las Vegas!  Our strategy of using casino gambling promotions allows us to make wagers with an almost 2 to 1 house advantage.  We have put together the entire strategy, and made a game of it.  Using our printable scorecard, map, instruction sheet and the gambling coupons from the books we recommend, you can do a quick walk in downtown Las Vegas along Fremont street visiting 10 different casinos and make over 18 wagers with a massive mathematical advantage over the casinos.  We call it...

        <h3 class="shimmer">
          The Fabulous Fremont Street Coupon Run!
        </h3>

      </text>
    </p>

  </div>

  <div class="single-wide">
    <h2>Vegas Deal Finder Top 10 Tips</h2>

    <p>
      <h4> 1. Get Players Cards  </h4>
      Vegas Deal Finder Members get step by step instructions to get and use Players Cards at each casino to earn free meals, hotel rooms, shows, and gambling deals.
    </p>

    <p>
      <h4>2. Use Coupons</h4>
      VDF Members get detailed instructions on how and where to get gambling coupons like Match Plays, Buy One Get One Free, and Free Play, that give you an advantage over the house.
    </p>

    <p>
      <h4>3. Drink for Free</h4>
      VDF Members get the best strategies for getting free drinks, like drink specials and happy hours, or best techniques to getting your drinks cheap.
    </p>

    <p>
      <h4>4. Play the Percentages</h4>
      VDF Members get expert advice on what games to play, how to play them, where to play, and tips to win at the games with the lowest Casino Advantage.
    </p>

    <p>
      <h4>5. Pay Less for Shows  </h4>
      VDF Members get specific tips so that they never pay full price for show tickets, plus reviews and advice on what shows to see and when to go. Even get free shows.
    </p>

    <p>
      <h4>6. Find the Best Transportation   </h4>
      VDF Members get all the information they need to find free shuttles and the best options for getting around town during their visit to Las Vegas.
    </p>

    <p>
      <h4>7. Eat Free Meals   </h4>
      VDF Members get the secrets to eating at amazing buffets using coupons, little known specials, or comped meals to ensure you eat well without paying for it.
    </p>

    <p>
      <h4>8. Stay in Comped Hotel Rooms    </h4>
      VDF Members get valuable lessons on how to stay at expensive hotels without paying the high prices, getting upgrades, or getting your room for free.
    </p>

    <p>
      <h4>9. Have Safe Adult Fun </h4>
      VDF Members get important tips and techniques for how to have an incredible time in Sin City without having to worry about a thing.
    </p>

    <p>
      <h4>10. Receive Updates on New Deals   </h4>
      VDF Members get to stay up to date on every deal, coupon, casino special, show offer, and new development being offered in Las Vegas.
    </p>

  </div>

  <div class="single-wide moneyGreenBg flex trippleSplit">
    <p>
      "I had no idea there were so many ways to save money in Vegas. The coupon run was really fun. I can't wait to get back" <font color="#98370d"> <em>David - New Mexico</em></font>
    </p>

    <p>
      "Thanks for sharing so much awesome information in one place. I changed my BJ game and loved the progressive strategy" <font color="#98370d"> <em>Mark - South Carolina </em></font>
    </p>

    <p>
      "My wife and I each earned a Free hotel night, a free buffet and $50 in free slot play. So glad I found VDF. I Love Deals". <font color="#98370d"> <em>Roger - California    </em></font>
    </p>

  </div>

  <div id="chipInfo" class="single-wide flex center">
    <img src="../../Images/TopPickChip.png" height="200px">
    <p>Look for our VDF Best Bet chip, for our favorite pick in every category!!  We have searched thousands of deals and offers in Las Vegas and these Best Bet chips provide the quickest and easiest way to find a great Deal! </p>
  </div>


</div>
</template>
