<template>
  <div class="HomeContainer">
    <iframe width="100%" height="455" src="https://www.youtube.com/embed/kx7GkZivydM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="info-split-duo">
  <div class="first-container">
    <h2> YOU CAN BEAT VEGAS! </h2>
    <p>
      <text>&emsp;Vegas Deal Finder was created by two Deal Finding Experts with over 60 combined years of winning trips to Las Vegas. With Money Saving Tips on Airfare & Transportation to earning FREE Hotel Rooms, Food & Drink, and Entertainment, VDF gives you a secret advantage to beating Vegas.</text>
    </p>
  </div>
  <div class="second-container">

  </div>

</div>

  </div>

</template>
