<template>
  <div class="HomeContainer">
    <iframe width="100%" height="455" src="https://www.youtube.com/embed/kx7GkZivydM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="info-split-duo">
  <div class="first-container">
    <h2> YOU CAN BEAT VEGAS! </h2>
    <p>
      <text>&emsp;Vegas Deal Finder was created by two Deal Finding Experts with over 60 combined years of winning trips to Las Vegas. With Money Saving Tips on Airfare & Transportation to earning FREE Hotel Rooms, Food & Drink, and Entertainment, VDF gives you a secret advantage to beating Vegas.</text>
    </p>
    <p>
      <text>&emsp;Vegas Deal Finder provides hundreds of money saving tips and tricks with our Top Vegas Deals, Current Vegas Promotions & Specials, and Expert Information on Gambling Techniques, Advanced Strategies, Earning comps, What Games to Play and Way More!.  Let us show you where the party is and what's happening in Vegas.</text>
    </p>
    <p>
      <text>&emsp;WANT YOUR TRIP TO VEGAS TO PAY FOR ITSELF?
            Vegas Deal Finder is your guide to an affordable Sin City vacation. Become a member today and start learning how you too can beat Las Vegas.
            MEMBERSHIP START AT ONLY $7.99
            Members often save over $500 on their Vegas trips and actually win money using our strategies! </text>
    </p>
  </div>
  <div class="second-container .d-md-none">
    <img src="../../Images/vegas1WelcomeToVegasSign.jpg" alt="">
  </div>
</div>

<div class="single-wide">
  <div class="titleWithImages">
    <img src="../../Images/TopPickChip.png" alt="">
    <h2>How to Beat Vegas and Actually Win Money!</h2>
    <img src="../../Images/BestValueChip.png" alt="">
  </div>
  <p>
    <text>
      You can win money in Vegas, its possible.  You just need to know how and where to make bets with the mathematical advantage over the casino.  I know, this sounds impossible, but we do it every trip to Las Vegas!  Our strategy of using casino gambling promotions allows us to make wagers with an almost 2 to 1 house advantage.  We have put together the entire strategy, and made a game of it.  Using our printable scorecard, map, instruction sheet and the gambling coupons from the books we recommend, you can do a quick walk in downtown Las Vegas along Fremont street visiting 10 different casinos and make over 18 wagers with a massive mathematical advantage over the casinos.  We call it the

      <h3>
        Fabulous Fremont Street Coupon Run.
      </h3>
    </text>
  </p>

</div>

</div>

</template>
