<template>
  <div class="MainContainer">
    <div class="TitleImg center">
      <img src="../../../Images/las-vegas-deal-finder-entertainment.png" alt="">
    </div>
  </div>

  <h2>Using Coupons to see shows in Vegas </h2>
  <p>Eating in Vegas can get expensive quickly and sometimes we like to splurge on something special. Using a coupon to absorb some of that cost can really save you a ton. We love the 1/2 off and 2 for 1 buffet coupons found in the American casino guide and Las Vegas Advisor. These 2 books offer the most options for discounted dinning. </p>
  <div class="even-split flex row">
    <div class="first">
      <img class="img" src="../../../Images/american_casino_guide_logo.jpg" alt="">
      <h4>American Casino Guide Coupons</h4>
      <p>2-for-1 round of Twilight Zone mini-golf at <a href="https://www.americancasinoguidebook.com/nevada/ballys-las-vegas.html" target="_blank">Bally’s Las Vegas</a></p>
      <p>2-for-1 show tickets to X Rocks at <a href="https://www.americancasinoguidebook.com/nevada/ballys-las-vegas.html" target="_blank">Bally’s Las Vegas</a></p>
      <p>2-for-1 show tickets to Hypnosis Unleashed at <a href="https://www.americancasinoguidebook.com/nevada/binions-gambling-hall-and-hotel.html" target="_blank">Binion’s</a></p>
      <p>2-for-1 show tickets to see Mike Hammer at the <a href="https://www.americancasinoguidebook.com/nevada/four-queens-hotel-casino.html" target="_blank">Four Queens Hotel-Casino</a></p>
      <p>2-for-1 show tickets to see the Spirit of the King Elvis Tribute Show at the <a href="https://www.americancasinoguidebook.com/nevada/four-queens-hotel-casino.html" target="_blank">Four Queens Hotel-Casino</a></p>
      <p>2-for-1 show tickets for 52 Fridays concert series at <a href="https://www.americancasinoguidebook.com/nevada/the-golden-nugget.html" target="_blank">Golden Nugget Las Vegas</a></p>
      <p>30% off The Bodies The Exhibition at <a href="https://www.americancasinoguidebook.com/nevada/luxor-las-vegas.html" target="_blank">Luxor Las Vegas</a> Valid for up to 4 people</p>
      <p>30% off Titanic The Artifact Exhibition at <a href="https://www.americancasinoguidebook.com/nevada/luxor-las-vegas.html" target="_blank">Luxor Las Vegas&nbsp;</a> Valid for up to 4 people</p>
      <p>2-for-1 tickets (limit 4 per coupon) to CSI: The Experience at the <a href="https://www.americancasinoguidebook.com/nevada/mgm-grand-hotel-casino.html" target="_blank">MGM Grand Hotel Casino</a></p>
      <p>35% off admission to The Hunger Games: The exhibition at the District at <a href="https://www.americancasinoguidebook.com/nevada/mgm-grand-hotel-casino.html" target="_blank">MGM Grand Hotel Casino</a></p>
      <p>$4 off adult admission to <a href="https://themobmuseum.org/" target="_blank">The Mob Museum</a></p>
      <p>2-for-1 showroom tickets at <a href="https://www.americancasinoguidebook.com/nevada/orleans-hotel-a-casino-the.html" target="_blank">The&nbsp;Orleans Hotel &amp; Casino</a></p>
      <p>Free upgrade to VIP seating for Anthony Cools at <a href="https://www.americancasinoguidebook.com/nevada/paris-casino-resort.html" target="_blank">Paris Las Vegas</a></p>
      <p>2-for-1 daytime Eiffel Tower viewing deck at <a href="https://www.americancasinoguidebook.com/nevada/paris-casino-resort.html" target="_blank">Paris Las Vegas</a></p>
      <p>FREE coupon book at Miracle Mile Shops at <a href="https://www.americancasinoguidebook.com/nevada/planet-hollywood-resort-a-casino.html" target="_blank">Planet Hollywood Resort and Casino</a></p>
      <p>2-for-1 tickets for V – The Ultimate Variety SHow at V-Theater at the Miracle Mile Shops at <a href="https://www.americancasinoguidebook.com/nevada/planet-hollywood-resort-a-casino.html" target="_blank">Planet Hollywood Resort and Casino</a></p>
      <p>2-for-1 tickets for VEGAS! The Show at Saxe Theater at the Miracle Mile Shops at <a href="https://www.americancasinoguidebook.com/nevada/planet-hollywood-resort-a-casino.html" target="_blank">Planet Hollywood Resort and Casino</a></p>
      <p>2-for-1 tickets for any show at V-Theater or Saxe Theater at the Miracle Mile Shops at <a href="https://www.americancasinoguidebook.com/nevada/planet-hollywood-resort-a-casino.html" target="_blank">Planet Hollywood Resort and Casino</a></p>
      <p>2-for-1 Vcard Vegas nightclub Pass</p>
      <p>30% off at Spa Aquae at the <a href="https://www.americancasinoguidebook.com/nevada/rampart-casino.html" target="_blank">Rampart Casino</a></p>
      <p>2-for-1 round of golf at Kiss Mini Golf inside <a href="https://www.americancasinoguidebook.com/nevada/rio-suites-hotel-a-casino.html" target="_blank">Rio Suites Hotel &amp; Casino</a></p>
      <p>2-for-1 tower admission at the <a href="https://www.americancasinoguidebook.com/nevada/stratosphere-hotel-casino.html" target="_blank">The Strat Hotel &amp; Casino</a></p>
      <p>35% off admission at the Marvel Avengers Station at <a href="https://www.americancasinoguidebook.com/nevada/treasure-island-ti.html" target="_blank">Treasure Island</a></p>
      <p>2-for-1 tickets to Legends in Concert at <a href="https://www.americancasinoguidebook.com/nevada/tropicana-resort-a-casino.html" target="_blank">Tropicana Las Vegas</a></p>
      <p>$25 off individual flight packages at <a href="https://vegasindoorskydiving.com/" target="_blank">Vegas Indoor Skydiving</a></p>
      <p>2-for-1 admission to Madame Tussauds at the <a href="https://www.americancasinoguidebook.com/nevada/venetian-resort-hotel-casino.html" target="_blank">Venetian Resort Hotel Casino</a></p>
      <p>2-for-1 tickets to Sexxy The Show at the <a href="https://www.americancasinoguidebook.com/nevada/westgate-las-vegas.html" target="_blank">Westgate Las Vegas</a></p>
      <p>$40 Off sunset dinner ride at Wild West Horseback Adventures</p>


    </div>
    <div class="second">
      <img class="img" src="../../../Images/las_vegas_advisor_logo.png" alt="">
      <h4> LVA Entertainment Coupons </h4>
      <p>2-For-1 Show Tickets to Séance
        <br>
        <em><a href="https://www.lasvegasadvisor.com/hotels/binions-gambling-hall" target="_blank">Hotel ApacheTerms & Conditions</a></em>
      </p>
      <p>2-For-1 Show Tickets to Hypnosis Unleashed
        <br>
        <em><a href="https://www.lasvegasadvisor.com/shows/hypnosis-unleashed" target="_blank">Binion's Gambling Hall & Hotel Apache (Hypnosis Unleashed)Terms & Conditions </a></em>
      </p>
      <p>2-For-1 Ticket to 52 Fridays
        <br>
        <em><a href="https://www.lasvegasadvisor.com/shows/hypnosis-unleashed" target="_blank">Golden Nugget Terms & Conditions </a></em>
      </p>
      <p>Free Show Ticket to Mac King
        <br>
        <em><a href="https://www.lasvegasadvisor.com/member-rewards-list/#" target="_blank">Harrah's (Mac King Comedy Magic)Terms & Conditions </a></em>
      </p>
      <p>2-For-1 or 50% Off one Show Tickets for Righteous Brothers
        <br>
        <em><a href="https://www.lasvegasadvisor.com/shows/righteous-brothers" target="_blank">Harrah's (Righteous Brothers)Terms & Conditions </a></em>
      </p>
      <p>25% Off Show Tickets to Carrot Top
        <br>
        <em><a href="https://www.lasvegasadvisor.com/shows/carrot-top" target="_blank">25% Off Show Tickets to Carrot Top  </a></em>
      </p>
      <p>25% Off Show Tickets to Criss Angel MINDFREAK
        <br>
        <em><a href="https://www.lasvegasadvisor.com/shows/criss-angel-mindfreak-live" target="_blank">Planet Hollywood (Criss Angel MINDFREAK Live)Terms & Conditions </a></em>
      </p>
      <p>$10 Off show ticket service fees	$20.00
        <br>
        <em><a href="https://www.lasvegasadvisor.com/member-rewards-list/#" target="_blank">StripTerms & Conditions </a></em>
      </p>
      <h5>When to buy: Want to see a big name show in Vegas? We find the best pricing to be approx. one week before the show. But if its popular then prices might go up. Using the hotel site where the show is being performed typically offers the lowest prices.  </h5>
    </div>
  </div>

</template>
