<template>
  <div class="MainContainer">
    <div class="double-wide">
      <div class="even-split">
        <div class="first-container">
          <h1>Contact Us! </h1>
          <h4>Need to Contact Vegas Deal Finder?</h4>
          <hr/>
          <h4>E-mail us at: info@vegasdealfinder.com </h4>
          <h5><b>How can we help?  </b></h5>
          <h6>Located in Denver CO </h6>
          <h6>+1 (774)-239-2265 </h6>
          <h6>http://www.vegasdealfinder.com</h6>
          <h6>Info@vegasdealfinder.com </h6>
        </div>
      </div>
    </div>
  </div>
</template>
