
<template>
  <require from="../helpers/rating.html"></require>

  <div class="MainContainer">
    <div class="TitleImg center">
      <img src="../../Images/las-vegas-deal-finder-hotels.png" alt="">
    </div>

    <div class="titleAndFee flex">
      <h1 class="center">${hotelGData.name}</h1>
      <div class="scores">
        <div if.bind="hotel" class="topDetails flex">
          <span>Daily Resort Fee: ${hotel.resortFee}</span>
          <span>${hotel.parkingDetails}</span>
        </div>
        <div if.bind="hotelDetails" class="topDetails flex">
          <span><a href="${hotelDetails.website}" class="textColor">Click here for more details...</a></span>
          <span>${hotelDetails.formatted_address}</span>
          <span>${hotelDetails.formatted_phone_number}</span>
        </div>
        <span if.bind="hotelDetails" class="ratings">
          <rating title="VDF Rating" rating="${hotelDetails.rating + 1.5}" color="black" symbol="VDF"></rating>
          <rating title="Quality Rating" rating="${hotelDetails.rating + 1}" color="purple" symbol="Q"></rating>
          <rating title="Value Rating" rating="${hotelDetails.rating + 2}" color="green" symbol="$"></rating>
        </span>
      </div>
    </div>
    <div class="center flex col">
      <p if.bind="hotel" class="mainDetails">${hotel.hotelDetails}</p>
      <img class="mainResortImg" src="${hotelDetails.photos[0].url}"/>
    </div>
    <div if.bind="hotels" class="single-wide rooms center flex col">
      <h3>Rooms & Suits</h3>
      <p class="mainDetails">${hotel.roomsBlurb}</p>
    </div>
    <div if.bind="rooms" class="rooms info-split-duo" repeat.for="room of rooms">
      <div class="firsst-container">
        <h4>${room.title}</h4>
        <p>${room.roomDetails}</p>
        <ul class="flex col">
          <li repeat.for="feature of room.features">${feature}</li>
        </ul>
      </div>
      <div class="second-container">
        <img class="roomImg" src="${room.img}" alt="">
      </div>
   </div>

   <div if.bind="hotel" class="poolDetails flex center col">
     <div class="">
       <h3>${hotel.pool.title}!</h3>
       <p>${hotel.pool.poolBlurb}</p>
     </div>
     <div>
       <img class="img center" src="${hotel.pool.poolImg}" alt="">
     </div>
   </div>

   <div if.bind="hotel" class="single-wide rooms center flex col">
     <h3>${hotel.casino.title}</h3>
     <p class="mainDetails">${hotel.casino.subTitle}</p>

     <div class="gameDetails split-sidebyside">
       <div class="left-side">
         <h3>Available Games:</h3>
         <ul class="first-container flex col">
           <li repeat.for="game of hotel.casino.games">${game}</li>
         </ul>
       </div>
       <div>
         <img class="img center" src="${hotel.casino.titleImg}" alt="">
       </div>
     </div>

     <div class="gameDetails flex center col">
       <div class="">
         <h3>Slots!</h3>
         <p>${hotel.casino.slotBlurb}</p>
       </div>
       <div>
         <img class="img center" src="${hotel.casino.slotImg}" alt="">
       </div>
     </div>

     <div class="gameDetails flex center col">
       <div class="">
         <h3>Poker!</h3>
         <p>${hotel.casino.pokerBlurb}</p>
       </div>
       <div>
         <img class="img center" src="${hotel.casino.pokerImg}" alt="">
       </div>
     </div>

     <div class="gameDetails flex center col">
       <div class="">
         <h3>Sports Book!</h3>
         <p>${hotel.casino.sbBlurb}</p>
       </div>
       <div>
         <img class="img center" src="${hotel.casino.sbImg}" alt="">
       </div>
     </div>

   </div>

  </div>

</template>
