<template>
  <div class="MainContainer">
    <div class="TitleImg center flex col">
      <h2>Celebrating my Birthday in Vegas!</h2>
      <img src="../../../Images/tmg-article_default_mobile.jpg" class="img" alt="">

    </div>

  <div class="single-wide">
    <h2>Las Vegas Birthday Gambling Freebies </h2>
    <p>All of the below information is considered up to date but it’s advisable to CALL AHEAD to verify as casino promotions can change often and without notice </p>
    <ul>
      <li>The Eiffel Tower at Paris is free on the day of your birthday </li>
      <li>Excalibur offers $20 Free Play through the week before and after your birthday </li>
      <li>Luxor offers $20 with 7 days of your Birthday </li>
      <li>Park MGM offers $25 Free Play </li>
      <li>Ellis Island offers Free Play on the day of birthday </li>
      <li>Downtown Grand typically offers some soft of free play on your Birthday </li>
      <li>Orleans earn 1 point and swipe for prizes at kiosk booth </li>
      <li>Wynn: $10 Free Play within 48 hours of b-day </li>
      <li>Sahara Las Vegas - Get a hidden prize draw on their screen and get dinners, points, and up to $500 freeplay, valid on birthday only. *unverified since changed back to Sahara </li>
      <li>The Plaza has a number of birthday offers including discount rooms. </li>
      <li>Free Shot at Nacho Daddy’s</li>
      <li>Sam’s Town: Birthday Bingo Bonus: Receive 5 FREE Blue Packs for every session played on your birthday from 9 am to 11 pm plus a FREE bingo bag. Valid for birthday person and up to 3 friends </li>
    </ul>
  </div>
  <h2>VDF - Birthday Freebies and Deals </h2>
  <div class="double-wide flex row">
    <div class="first-container">
      <h4>“What happens here, stays here.” </h4>
      <p>OK, so it’s a marketing slogan. But we can’t deny it’s a great quote when it became one of the most powerful marketing campaigns in history. </p>
      <p>Adopted by the Las Vegas Conventions and Visitors Authority in 2002, the saying, along with “What Happens in Vegas, Stays in Vegas,” helped the Las Vegas brand become the second-most recognized brand in the country, after Google. </p>
      <h4>Cash your IRS tax refund check at El Cortez and Get 5% of it in free slot play. </h4>
      <p>Cash your IRS check (or any government issued check) at the El Cortez main cage and you’ll receive an extra 5% (up to $50) in free slot play money. The offer generally runs year round. Must be a Club Cortez member to participate. After cashing your first check you must earn1500 points in the previous month to receive the 5% on any future checks. </p>
      <h4>Restaurant Birthday Promotions </h4>
      <p>Many Vegas restaurants will give you a 2-1 coupon or Freebie on your birthday just for signing up for their email list or fan club. If they ask you for your date of birth when signing up you will more than likely get a freebie. Here are some great ones. </p>
      <ol>
        <li>Hash House a Go Go offers a 2-1 Dinner Coupon for joining their Facebook Club. </li>
        <li>Holsteins sends a free alcohol shake for joining their Club (Look halfway down the page). </li>
        <li>Grimaldi’s Pizzeria offers a free pizza on your birthday. Sign up on their site. They also offer a $5 off coupon but it expires within a month of signing up. </li>
        <li>Hexx sent a coupon for a 1/2 price signature drink or free appetizer with entree purchase. </li>
        <li>Lettuce Entertain You puts $15 in your account every year for your birthday that does not expire and is good at several Las Vegas restaurants. </li>
      </ol>
      <h4>Sign Up For Players Club Cards </h4>
      <p>Sign up for players club cards and their email lists. They will email you promotions for your birthday. It may something as basic as a free drink or 2/1 meal all the way up to some casino free-play credit. If you don’t get a special Birthday promotion via email we recommend you still go to the players club and ask them if there are any promotions or freebies for your Birthday. </p>
    </div>
    <div class="second-container">
      <h4>First Time Signup Promotions </h4>
      <ul>
        <li><b>Club Fortune:</b>New Member Signup Promotion: All new members that earn 50 base points on date of signup can play a kiosk wheel spin game for guaranteed free slot play   </li>
        <li><b>The D Las Vegas:</b>New member sign up bonus: Earn $5 in free slot play for every 50 points earned during first 3 days of sign-up up to $100 </li>
        <li><b>Four Queens:</b>gives a two-for-one dinner voucher for Magnolia’s during your birthday month </li>
        <li><b>El Cortez:</b>New member sign up bonus: Earn 600 slot points in the first 24 hours and draw an envelope from the “Free Play Frenzy Barrel” for $10-$1,000 in free slot play guaranteed. </li>
        <li><b>Ellis Island: </b>New members signing up for the Passport Player’s Club who play at least $1 coin in will receive a FREE play spin where they can get anywhere from $10 free play up to $500. Everyone is a winner. Also, you will receive a $1 off any restaurant entree with at least $1 coin in </li>
        <li><b>Golden Nugget: </b>New members signing up for the 24 Karat Club have a chance to win up to $1,000 in FREE Slot Play. This new promotion gives new 24 Karat Club members a FREE promotional slot machine spin instantly upon joining, awarding FREE Slot Play in denominations ranging from $5 to $1,000. </li>
        <li><b>M Resort: </b> New Members Play $300 On Us. New members who sign up for a Marquee Rewards card will be reimbursed up to $300 Free Play for their first day of play. As soon as members activate their account, they can play any of their favorite slots and be eligible for reimbursement for their slot losses up to $300. </li>
        <li><b>Mandalay Bay:</b>Win Cards are available offering $30 for $20 in casino table game chips. These special, non-negotiable chips actually "stay-in-play" until lost.  The Win Cards packet also includes playing strategies and instructions and even a token tip for the dealers.  </li>
        <li><b>Mardi Gras Casino:</b>Receive your first $10 freeplay award just for signing up for the players club. </li>
        <li><b>New York, New York: </b>Win Cards Program is now available for people that would like to learn how to play the table games of Blackjack, Craps and/or Roulette. Go to the Players Club and ask about the $30 for $20 Win Cards deal. The offer is strictly limited to one per person, per year. </li>
        <li><b>Rampart Casino: </b>Sign up for Rampart Rewards. Earn your first 10 points and spin a wheel to win from 250 points up to $500 cash, plus receive a 2-for-1 buffet voucher </li>
        <li><b>TI (Treasure Island):</b>New Member Sign ups earn 100 slot points and spin to win $20-$100 in free slot play. </li>
        <li><b>Tuscany Casino:</b>New members get 5,000 points for enrolling, plus 1,000 points for your email address and 1,000 points for valid U.S. cell phone numbers. </li>
        <li><b>Wynn Las Vegas:</b>After earning first 300 points, as a new players club member, spin a wheel for a prize ranging from $10 to $10,000 in free slot play, buffets, show tickets and more. Red Card is the same for Encore. Enroll at one or the other but not both. </li>
      </ul>
      <p>After earning first 300 points, as a new players club member, spin a wheel for a prize ranging from $10 to $10,000 in free slot play, buffets, show tickets and more. Red Card is the same for Encore. Enroll at one or the other but not both. </p>
      <p><b>Boyd Gaming: Young at Heart 50+ promotion:</b>  Guests 50 years of age and greater can celebrate Young at Heart Day every Tuesday from 7 a.m. – 11:59 p.m. at Aliante, The Orleans, Gold Coast, Suncoast, Sam’s Town, California, Fremont, Main Street Station, Cannery and Eastside Cannery. </p>
      <p>Young at Heart Day features the following benefits at Aliante, The Orleans, Gold Coast, Suncoast and Sam’s Town: </p>
      <ul>
        <li>Free breakfast or lunch buffet, or a $5 dining credit after earning one Tier Credit </li>
        <li>Unlimited 11x bonus point multipliers on reels and video poker </li>
        <li>Earn five Tier Credits to pick a prize </li>
        <li>Free kiosk favorites, including matinee movie discounts** and free entry into the Young at Heart Drawing </li>
        <li>$5,000 weekly drawings, including the $2,500 Young at Heart Drawing and the $2,500 Celebration Spin </li>
      </ul>
      <p>Young at Heart Day features the following benefits at California, Fremont and Main Street Station: </p>
      <ul>
        <li>$500 weekly drawings held at California, Fremont and Main Street Station </li>
        <li>Unlimited 11x bonus point multipliers on reels and video poker </li>
        <li>Free kiosk favorites, including free entry into the Young at Heart Drawing and Play & Get offers </li>
      </ul>
      <p>Young at Heart Day features the following benefits at Cannery and Eastside Cannery: </p>
      <ul>
        <li>Free breakfast or lunch buffet, or a $5 dining credit after earning 10 same-day base points or one table game point </li>
        <li>Unlimited 11x points on reels and 2x points on video poker </li>
        <li>Earn 50 same-day base points or five table game points to pick a prize </li>
        <li>Free kiosk offers, including matinee movie discounts** and free entry into the Young at Heart Drawing </li>
        <li>$5,000 weekly drawings, including the $2,500 Young at Heart Drawing and the $2,500 Celebration Spin </li>
      </ul>
      <p>**Varies by location. Visit promotional kiosks for complete details about the Young at Heart offers, some restrictions may apply. Movie theaters are independently owned operators and movie prices are subject to change. See Players Club for complete details. To learn more about Boyd Gaming’s gaming entertainment offerings, visit <a href="www.boydgaming.com">www.boydgaming.com</a></p>
      <p><b>M Resort:</b> Every Tuesday, 50+ Club members may enjoy the following: Half-priced breakfast at Anthony’s Gourmet Burgers & Brews – Half-priced lunch or dinner at Studio B Buffet or Marinelli’s Pasta Bar – 35 percent off spa and salon services at Spa Mio – $7,500 Senior Reels Tournament. First entry is free. Earn additional entries for every 250 same-day base points earned from 4 a.m. to 4 p.m. Activate entries between 9 a.m. and 4 p.m. and play in the tournament anytime between 10 a.m. to 4 p.m. – $7,500 Senior Drawing. Twelve winners will be awarded a total of $7,500 every 30 minutes from 5 p.m. to 7 p.m. Receive an entry for every 100 reel slot or 200 video poker base points earned from 6:50 p.m. Tuesday to 6:50 p.m. the following Tuesday. Activate entries by swiping at any kiosk. </p>
      <p><b>Silver Sevens Casino:</b> “Nifty 50 Slot Tournament” every Wednesday from 11 a.m. – 5 p.m. for a chance to win up to $1,000. Platinum members receive 1 free entry. All guests 50+ receive a bonus entry. All other guests receive their first entry by earning 300 points. There is no limit to how many times you can enter. </p>
      <p><b>South Point:</b> “Prime Time Mondays” for Casino Club Card holders age 50 and older. Prime Time Mondays offer a $5,000 Free Slot Tournament from 10 a.m. to 4 p.m. The tournament’s first place winner will receive a $1,000 cash prize and additional places will be rewarded with free play.  </p>
      <p><b>Tuscany:</b> Players Club members ages 50 and older are eligible for Thursday Senior Day promotions, including: · Complimentary small coffee at Caffe Bottega · Slot Tournament for 50 points from 10 a.m. – 8 p.m. · Pick-A-Gift for 250 points, max 2 gifts · Senior Surprise Scratch-Offs: 250 points each. Max of 4. Can win between $5-$500 in free slot play. </p>
    </div>
  </div>

</div>

</template>
