
body{
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #020c30;
  background-image: url(./554d6dd5a758a305476c.png);
  min-height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav{
  width: 80%;
  background-color: black;
  color: white;
  align-self: center;
}
.navbar-toggler-icon,
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  background-color: white;
  border-radius: 3px;
}
h2{
  text-align: center;
}
nav *{
  color: white;
}
nav ul{
  width: 100%;
}
a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-left: 0;
  padding-left: 0;
}
nav li{
  margin: auto;
}
.centerMainImg img{
  height: 230px;
  width: 100%;
  max-width: 400px;
}
.contentContainer{
  display: flex;
  flex-flow: column;
}
.center{
  display: flex;
  align-self: center;
  align-items: center;
}

#routerView{
  background-color: rgba(255, 255, 255, 0.9);
  width: 80%;
  height: 300vh;
  display: flex;
  align-self: center;
  align-items: center;
  flex-flow: column;

}

.HomeContainer{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.info-split-duo{
  height: 500px;
  margin-top: 30px;
  display: flex;
}

.first-container{
  align-content: center;
  padding: 10px;
  height: 100%;
  width: 50%;
}
.second-container{
  padding: 10px;
  height: 100%;
  width: 50%;
}

