$background-image: url('../static/VegasBackground01.png');

$primary-color: #020c30;
$green-bg-color: rgba(82, 110, 50, 0.2);

$navTransitionInTime: .5s;
$navTransitionOutTime: 0s;

$paddingDefault: 1.25em;

$pokerChipHeightWidth: 10em;

$navLinkColor: white;
$linkColor: green;
